* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

main {
  height: 100vh;
}
.header-content {
  overflow: hidden;
  z-index: 5;
}
.main-content {
  height: 85%;
  overflow: auto;
}

/* ----------Main Container-------------- */
.main-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1272px;
}

/* ------------ Search Conatiner--------------- */
.search-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: flex;
  padding: 1rem;
  max-width: 1230px;
  min-height: 10rem;
  border-radius: 0.3rem;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(./assets/images/searchBackground.jpg);
  background-size: cover;
}
